*{
    margin:0 auto;
    padding: 0;
}
    
body{
    font-family:"Afacad";
    
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
    width:800px;
  }

.circleContainer{
    font-family: "MuseoModerno";
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    
}

.circle{
    width:60px;
    height:60px;
    border-radius:50%;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    
}

.circle:hover{
    transform:scale(1.5);
}
    
.circleOne{
    background-color: #ED008C;
}
.circleTwo{
    background-color: #01AEF0;
}
.circleThree{
    background-color: #FEF200;
}

/*This part is the content*/


section{
    width: 1050px;
    flex:1;
}

.wrapper {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}

.content{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    padding-top:50px;
    gap:60px;
    margin-bottom: 20px;
}

p{
    font-size: 24px;
}

.skills{
    display:flex;
    flex-direction:row;
    align-content: space-evenly;
    margin:40px 0;
}

.softwares{
    max-width: 200px;
}

h1{
    color: #01AEF0;
    font-size: 40px;
}

li{
    font-size: 24px;
}

h2{
    color: #ED008C;
    font-size: 40px;
}

.softwares img{
    width:45px;
    padding:5px;
}

footer{
    background-color:Black;
    color:white;
    padding: 30px 0 10px 0;
    text-align: center;
    width:100%;
}

footer a{
    padding:20px;
    text-decoration:none;
}

footer p{
    padding-top:20px;
    font-size: 12px;
}
